extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/products.css")

block content
        main
            if products.length
                .grid
                    each product in products
                        article.card.product-item
                            header.card-header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src=(product.imageUrl))
                            div.card__content
                                h2.product__price $#{product.price}
                                p.product__description #{product.description}
                            div.card__actions
                                a.btn(href="/admin/edit-product/" + product.id + "?edit=true") Edit
                                form(action="/admin/delete-product", method="POST")
                                    input(type="hidden", name="productID", value=product.id)
                                    button.btn(type="submit") Delete
            else
                h1 No products